doctype html
html
  head
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js')
  
  body
    
    .ui.inverted.menu
      a.item Home
      a.item Menu1
  
    .ui.container
      block content
