
if user.__v === 0
  - var action = './?_method=patch'
else
  - var action = './'
  
form.ui.form(action='#{action}', method='post')

  .field
    label name
    input(type='text' name='user[name]' value='#{user.name}')

  .field
    label furigana
    input(type='text' name='user[furigana]' value='#{user.furigana}')

  .field
    label mail address
    input(type='text' name='user[mailAddress]' value='#{user.mailAddress}')

  button.ui.button(type='submit') regist
