h2 user edit

form(action='./?_method=patch', method='post')

  //- input(type='hidden' name='_id')
  //- input(type='hidden' name='_method' value='patch')

  div name
  div
    input(type='text' name='user[name]' value='#{user.name}')
  
  div furigana
  div
    input(type='text' name='user[furigana]' value='#{user.furigana}')
  
  div mail address
  div
    input(type='text' name='user[mailAddress]' value='#{user.mailAddress}')
  
  div
    button(type='submit') regist
