<h2>user new</h2>
<form action="create" method="post">
    <div>
        name: <input type="text" name="name">
    </div>
    <div>
        furigana: <input type="text" name="furigana">
    </div>
    <button type="submit">regist</submit>
</form>
