<h2>user new</h2>
<form action="create" method="post">
    <div>
        name: <input type="text" name="user[name]">
    </div>
    <div>
        furigana: <input type="text" name="user[furigana]">
    </div>
    <div>
        mail address: <input type="text" name="user[mail]">
    </div>
    <button type="submit">regist</submit>
</form>
