h2 user new

form(action='./', method='post')

  div name
  div
    input(type='text' name='user[name]')
  
  div furigana
  div
    input(type='text' name='user[furigana]')
  
  div mail address
  div
    input(type='text' name='user[mailAddress]')
  
  div
    button(type='submit') regist
